@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
body {
  background: linear-gradient(196deg, #495470 0%, #54a98c 100%);
  font-family: poppins;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
